<!DOCTYPE html>
<html>
<head>
    <title>Spring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style >
    body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

</style>
</head>
<body>

<div class="d-flex align-items-center justify-content-center vh-100">
    <h1 class="display-4">Spring Bootcamp 2024</h1>
</div>

</body>
</html>